#postgres URL
DATABASE_URL=postgresql://user:pass@host:1234/dbname
#Directory where the uploaded files will be stored.
UPLOADS_DIR=./uploads
JWT_SECRET=1A2B3C4D5E6F7G8H9I0J

# A key which allows the user to register their account
REGISTRATION_KEY=1234